<p-toast position="top-right"></p-toast>
<div class="w3-row">
  <div class="w3-col" style="width: 240px">
    <div>
      <div class="menu">
          <a class="menu-item" routerLink="/usuarios/pesquisa" href="#">USUARIO</a>
          <a class="menu-item" routerLink="/processos/listar/1" href="#">PROCESSO</a>
          <a class="menu-item" routerLink="/campus/pesquisa" href="#">CAMPUS</a>
      </div>
    </div>
  </div>
  <div class="w3-rest rest">
    <router-outlet></router-outlet>
  </div>
</div>