<form #formCadastroUsuario="ngForm" (ngSubmit)="salvar(formCadastroUsuario)">
    <div class="p-shadow-22 p-col-11 p-p-4 p-mx-auto">
        <div class="p-fluid p-col-10 p-mx-auto">
            <div class="p-text-center">
                <h1>CADASTRO DE USUÁRIO</h1>
            </div>
            <div class="p-py-3">
            <span class="p-float-label">
                <input [(ngModel)]="usuario.nome" pInputText type="text" name="inputNome" ngModel #inputNome="ngModel" minlength="5" required>
                <label for="inputNome">Nome</label>
            </span>
            </div>
            <div class="p-py-3">
            <span class="p-float-label">
                <input [(ngModel)]="usuario.email" pInputText type="text" name="inputEmail" ngModel #inputEmail="ngModel" minlength="5" required>
                <label for="inputEmail">E-Mail</label>
            </span>
            </div>
            <div class="p-py-3">
            <span class="p-float-label">
                <input [(ngModel)]="usuario.matricula" pInputText type="text" name="inputMatricula" ngModel #inputMatricula="ngModel" minlength="5" required>
                <label for="inputMatricula">Matrícula</label>
            </span>
            </div>
            <div class="p-py-3">
            <span class="p-float-label">
                <input [(ngModel)]="usuario.senha" pInputText type="password" name="inputSenha" ngModel #inputSenha="ngModel" minlength="5" required>
                <label for="inputSenha">Senha</label>
            </span>
            </div>
            <div class="p-py-3">
                <p-dropdown [(ngModel)]="usuario.campus.id" filter="true" placeholder="Selecione um campus" [options]="listaCampus" ngModel name="campus"></p-dropdown>
            </div>
            <div class="p-col-5 p-mx-auto">
                <button pButton type="submit" label="CADASTRAR" [disabled] = "formCadastroUsuario.invalid" style="font-weight: bold; font-size: 20px;"></button>
            </div>
        </div>
    </div>
</form>
