
<div class="p-grid p-jc-center p-ai-center " style="min-height: 100vh;">

  <div class="p-card p-jc-center p-ai-center p-flex-column p-shadow-10"
    style="background-color: #00663B; width: 400px; height: 500px; border-radius: 25px; ">

    <div style="text-align: center; height: 110px;">
      <H1 class="p-text-bold" style="color: white;">PROCESS MANAGER</H1>
      <H5 style="color: white;">Organize seus processos</H5>
    </div>

    <div  style="background-color: white; border-radius: 25px; text-align: center; height: 70%; margin-left: 5%; margin-right: 5%;">

      <form autocomplete="off" #formularioLogin="ngForm">

        <div style="text-align: center; ">

          <H4 style="padding-top: 20px; padding-bottom: 20px;">FAÇA LOGIN NA SUA CONTA</H4>
        </div>


          <span class="p-input-icon-left" style="width: 90%;">
          <i class="pi pi-envelope"></i>
          <input id="inputEmail" type="text" pInputText name="inputEmail" ngModel required #inputEmail
            placeholder="Digite seu e-mail" style="width: 100%;">
          </span>


          <span class="p-input-icon-left" style="width: 90%; margin-top: 10px;">
            <i class="pi pi-key"></i>
          <input id="inputSenha" type="password" pInputText name="inputSenha" ngModel required #inputSenha
            placeholder="Digite sua senha"  style="width: 100%; ">
          </span>

        <div>
          <h5 id="h5EsqueceuSenha" class="esqueceu-senha" (click)="abrirModalEsqueceuSenha()">Esqueceu a senha?</h5>
        </div>

        <div>
          <button class="ui-button-success" name="login" [disabled]="formularioLogin.invalid" style="width: 90%; margin-top: 10px;" pButton label="ENTRAR"
            (click)="login(inputEmail.value, inputSenha.value); inputSenha.value=''"></button>
        </div>

        <div>
          <button class="inscrever" name="inscrever" style="width: 90%; margin-top: 10px;" pButton label="INSCREVER-SE"
            (click)="login(inputEmail.value, inputSenha.value); inputSenha.value=''"></button>
        </div>

      </form>
    </div>
  </div>
</div>

<form autocomplete="off" #formularioEsqueceuSenha="ngForm">
  <p-dialog header="Esqueceu sua senha de acesso?" [(visible)]="modalEsqueceuSenha" [modal]="true" [style]="{width: '400px'}" [baseZIndex]="10000"
      [draggable]="false" [resizable]="false">
        <p class="p-m-0">Nós a reenviaremos para seu e-mail</p>

        <div class="p-grid p-jc-center p-ai-center ">
          <span class="p-input-icon-left" style="width: 80%; margin-top: 50px;">
            <i class="pi pi-envelope"></i>
            <input [(ngModel)]="emailRecoverPassword.to" id="inputEmailEsqueceuSenha" type="text" pInputText name="inputEmailEsqueceuSenha" ngModel required #inputEmail
              placeholder="Digite seu e-mail" style="width: 100%;">
          </span>
    
          <button class="ui-button-success" name="enviar" [disabled]="formularioEsqueceuSenha.invalid" style="width: 80%; margin-top: 20px;" pButton label="ENVIAR"
            (click)="enviarSenha()"></button>

        </div>
        
  </p-dialog>
</form>